{% extends 'base.html.twig' %}

{% block title %}
    HP Envy 4525
{% endblock %}

{% block stylesheets %}
    <link href="/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="/js/dashboard.js"></script>
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="d-grid gap-2" style="margin-top: 1rem;">
            <div class="input-group mb-3" style="margin-bottom: .5rem!important;">
                <label class="input-group-text" for="inputGroupSelect01">Format</label>
                <select class="form-select form-select-lg" aria-label="Format" id="formatInput">
                    <option value="pdf" selected>pdf</option>
                    <option value="jpeg" disabled>jpeg</option>
                </select>
            </div>
            <div class="input-group mb-3" style="margin-bottom: .5rem!important;">
                <label class="input-group-text" for="inputGroupSelect01">Target</label>
                <select class="form-select form-select-lg" aria-label="Format" id="formatInput">
                    <option value="default" selected>default</option>
                </select>
            </div>

            <button class="btn btn-lg btn-primary" type="button" style="font-size: 3rem;font-weight: bold" id="scanButton">Scan</button>

            <div class="d-flex justify-content-center d-none" style="margin-top: .5rem" id="loadingSpinner">
                <div class="spinner-border text-center" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div role="alert" id="alert" style="margin-top: .5rem;"></div>
        </div>
    </main>
{% endblock %}
